html {
  width: 100%;
  height: 100%;
}
.insta2,
.face2 {
  display: none;
}
body {
  margin: 0px;
  background-image: linear-gradient(180deg, #252525 0, #1a1a1a 25%, #000000 50%, #000000 75%, #000000 100%);
  background-size: 1300px 1600px;
}
.logo {
 
  display: grid;
  justify-content: center;
  margin-top: 71px;
  margin-bottom: 30px;
  align-content: center;
}
.logo img {
  border: solid 5px #dfdfdf;
  border-radius: 50%;
  width: 200px;
  height: 250px;
}
.titulo {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.959);
  letter-spacing: 1px;
}
.titulo h2 {
  font-size: 0.9rem;
}
.botoes {
  display: grid;
  grid-template-columns: 500px;
  gap: 20px;
  justify-content: center;
  padding-bottom: 30px;
}
.botoes a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  justify-self: center;
  background-color:#242424;
  padding: 15px 20px 15px 20px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  font-size: 1.3rem;
  width: 600px;
  border: 3px solid #dfdfdf;
}
.botoes a:hover {
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  background-color: #ffffff;
  width: 610px;
  transition: 0.3s;
}
.icones {
  
  display: flex;
  justify-content: center;
 
}
.icones a {
  margin: 0px 9px 0px 9px;
  flex-direction: row-reverse;
  
}
.icones img:hover {
  transform: rotate(360deg);
  transition: 2s;
}
.face img,
.insta img {
  width: auto;
  height: 38px;
  margin-top: -3.5px;
}

@media (max-width: 500px) {

  .botoes a {
    width: 300px;
    padding: 15px 15px 15px 15px;
    font-size: 1.2rem;
  }
  .botoes a:first-child {
    margin-top: 10px;
  }
  .botoes a:hover {
    width: 310px;
  }
  .container {
    width: 100%;;
  }
  .logo {
    margin-top: 0px;
    justify-content: center;
    align-content: center;
    height: 400px;
    background-image: url(./img/perfilprof.PNG);
    background-size: 110%;
    background-position: bottom 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .logo img {

    display: none;
  }
  body {
    background-image: none;
  }
  .titulo {
    color: #363636;
    margin-top: -40px;
  }
  .titulo h2 {
    color: #505050
  }
  .icones {
    padding-top: 17px;
    margin-top: -20px;
    box-shadow: 0px -20px 30px 30px rgb(255, 255, 255);
  }
  .icones img {
   position: absolute;
  }
  .insta img {
    top: 20px;
    right: 20px;
  }
  .face img {
    top: 70px;
    right: 18px;
    height: 40px;
  }
  .botoes a{
    border-color: #000000;
    color:   #000000;
    background-color: #ffffff;
  }
  .botoes a:hover {
    color: white;
    border: 3px solid white;
    background-color: #252841;
    transition: 0.3s;
  }
}
